{% extends 'layout.html.twig' %}
{% block title %} post {% endblock %}
{% block main %}
    <section class="bg-gray200 pt-5 pb-5">
        <div class="container">
            <div class="row justify-content-center">

                <div class="col-lg-6 mb-5 mb-lg-0">
                    <div class="card">
                        <div class="card-body py-5 px-md-5" style="box-shadow: 0  15px 20px 0  rgba(0, 0, 0, 0.5);">
                            <div class="text-center">
                                <h2 class="mt-1 mb-5 pb-1" style="color: #bf0000">New Post</h2>
                            </div>
                            {{ form_start(form) }}
                            <div class="form-outline mb-4">
                                <label for="inputUsername" style="color: black;font-size: large;">
                                    {{ form_label(form.Post) }}:</label>
                                {{ form_widget(form.Post) }}</div>
                            <div class="form-outline mb-4">
                                <label for="inputUsername" style="color: black;font-size: large;">
                                    {{ form_label(form.Title) }}:</label>
                                {{ form_widget(form.Title) }}</div>
                            <div class="form-outline mb-4">
                                <label for="inputUsername" style="color: black;font-size: large;">
                                    {{ form_label(form.Description) }}:</label>
                                {{ form_widget(form.Description) }}</div>
                            <div class="form-outline mb-4">
                                <label for="inputUsername" style="color: black;font-size: large;">
                                    {{ form_label(form.Category) }}:</label>
                                {{ form_widget(form.Category) }}</div>
                            <div class="form-outline mb-4">

                                {{ form_rest(form) }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
